@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
.App {
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Nav {
  position: relative;
  background-color: #0F2347;
  height: 56px;
  box-sizing: border-box;
  padding: 10px 80px;
}

.App-header > h2 {
  margin: 0;
  color: #c3d8fd;
  cursor: pointer;
  transition: all 0.4s;
}

.App-header > h2:hover {
  color: #FFF;
}

.search {
  position: absolute;
  top: 12px;
  right: 90px;
}

.search > input[type="text"] {
  border: none;
  padding: 8px 14px;
  color: #666;
  width: 230px;
  font-size: 14px;
  transition: all .3s ease-in-out;
  background-color: #c3d8fd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search > input[type="text"]:focus {
  outline: none;
}

.search > input[type="submit"] {
  border: none;
  padding: 8px 14px;
  color: #c3d8fd;
  font-size: 14px;
  transition: all .3s ease-in-out;
  background-color:  #2E67A0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.search > input[type="submit"]:hover {
  background-color: #1C3F6E;
  color: #FFF;
}

.search > input[type="submit"]:focus {
  outline: none;
}

.App-intro {
  font-size: 32px;
  color:  #2E67A0;
  font-weight: 600;
  padding: 8px 80px;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies > .loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #2E67A0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.movies > .movie {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 1em;
  cursor: pointer;
  transition: all 0.3s;
}

.movies > .movie:hover {
  box-shadow:  0 0 24px 0 rgba(0,0,0,0.5);
}

.movies > .movie > div > img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.movies > .movie  > p {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  margin: 0;
  text-align: center;
  padding: 12px 0;
  font-weight: 600;
  color: #FFF;
  background-color: #5AACCF;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}